{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "babel-plugin-root-import"
    ],
    [
      "styled-components",
      { "ssr": true }
    ]
  ],
  "env": { // For React Native
    "production": {
      "plugins": [
        "babel-plugin-root-import",
        "styled-components"
      ]
    }
  }
}
